@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Roboto:wght@500&display=swap');
* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;
}

li {
    list-style-type : none ;
}

.header{
    display: flex;
    justify-content: space-between;
    background: var(--secondary-bg);
}

.logo{
   margin: var(--margin-size-xl);
   border-radius: 50%;
}

.title__header{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-size-xl);
    font-family: var(--font-family-title);
    font-size: var(--font-size-xl);
    color: var(--secondary-color);
}

.nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link{
    font-family: var( --font-family-zag);
    font-size: var(--font-size-l);
    color: var(--additional-color);
}

.nav-link:hover{
    color: aquamarine;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-size-l);
}

.input{
    background: inherit;
    border-bottom:white;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-size-m);
    background: var(--additional-bg);

}

.image-hostel-wrapper{
    width: 35%;
}

.title{
    display: flex;
    justify-content: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-xl);
    color: var(--secondary-color);
}

.image{
    width: 100%;
    margin-top: var(--margin-size-xl);
    border-radius: 5%;
}

.deskription-hostel{
    width: 35%;
}

.deskription{
    margin-top: var(--margin-size-m);
    padding: var(--padding-size-s);
    font-family: var(-font-family-text);
    font-size: var(--font-size-m);
}

.table-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.table{
    display: flex;
    justify-content: center;
    margin-top: var(--margin-size-l);
    
}

 .table-row{ 
    width: 11rem;
    height: 4rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-l);
    background: var(--spare-color);

    
} 

.table-col{
    width: 11rem;
    border: 2px solid black;
}

.footer{
display: block;
justify-content: center;
background: var(--secondary-bg);
}

.icons-wrapper{
    display: flex;
    justify-content: center;
    padding: var(--padding-size-m);
}

.icon{
    width: 3rem;
    height: 3rem;
    margin: var(--margin-size-m);
}

.icon:hover{
    transform: skew(-20deg);
   

}

.title__footer{
    display: flex;
    justify-content: center;
    padding: var(--padding-size-m);
    font-family: var(--font-family-title);
    font-size: var(--font-size-l);
}

.image-nomers-wrapper{
    display: block;
    width: 20%;
}
    